@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F8FA;
  --foreground: #212124;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #FFE2D2;
  color: #212124;
}
