@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2F3F6;
  --foreground: #212124;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 당근 스타일 selection */
::selection {
  background-color: #FFE2D2;
  color: #212124;
}
